
config traffic basic
	option enabled 1
	option table_name lan

config traffic limit
	option type 0
	option monthly_size 0 # Mbytes
	option data_volume 0 # Mbytes
	option connect_time_enabled 0
	option connect_time 0 # hours

config traffic counter
	option restart_time "1 11:11"
	option aging_time	10 # minute

config traffic action
	option show_limit_size 0
	option led_enabled 1
	option disconnect_network 0
