@import url(basic.css);
@import url(form.css);
@import url(advanced_home.css);
.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.p-t-10 {
  padding-top: 10px; }

.p-b-10 {
  padding-bottom: 10px; }

.p-l-5 {
  padding-left: 5px; }

.p-l-10 {
  padding-left: 10px; }

.p-r-10 {
  padding-right: 10px; }

.p-lr-10 {
  padding-left: 10px;
  padding-right: 10px; }

.m-t-5 {
  margin-top: 5px; }

.m-t-15 {
  margin-top: 15px; }

.m-t-25 {
  margin-top: 25px; }

.m-b-10 {
  margin-bottom: 10px; }

.m-b-15 {
  margin-bottom: 15px; }

.m-l-5 {
  margin-left: 5px; }

.m-l-10 {
  margin-left: 10px; }

.m-l-15 {
  margin-left: 15px; }

.m-l-25 {
  margin-left: 25px; }

.m-r-5 {
  margin-right: 5px; }

.m-r-10 {
  margin-right: 10px; }

.m-r-15 {
  margin-right: 15px; }

.inline {
  display: inline-block; }

.no-display {
  display: none; }

.auto-y {
  overflow-y: auto; }

.button.success2 {
  background: #12d90d;
  border-color: #12d90d; }

.success {
  color: #60a917; }

.alert {
  color: red; }

.warning {
  color: orange; }

.place-right {
  float: right !important; }

.place-left {
  float: left !important; }

.no-margin {
  margin: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

.modal-open {
  overflow: hidden; }

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  transition: -webkit-transform .3s ease-out;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%); }

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.modal-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); }

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000; }

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0; }

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5; }

.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5; }

.modal-header .close {
  margin-top: -2px; }

.modal-title {
  margin: 0;
  line-height: 1.42857143; }

.modal-body {
  position: relative;
  padding: 15px; }

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5; }

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px; }

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px; }

.modal-footer .btn-block + .btn-block {
  margin-left: 0; }

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto; }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); }
  .modal-sm {
    width: 300px; } }

@media (min-width: 992px) {
  .modal-lg {
    width: 900px; } }

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0; }

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: .3125rem 0;
  position: relative;
  vertical-align: middle;
  height: auto; }
  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 2.125rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      display: block;
      padding-left: 8px;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 2.125rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: 998; }
    .select2-container .select2-selection--multiple .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      padding-left: 8px;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container .select2-container .select2-search--inline {
    float: left; }
    .select2-container .select2-container .select2-search--inline .select2-search__field {
      box-sizing: border-box;
      border: none;
      font-size: 100%;
      margin-top: 5px; }
      .select2-container .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
        -webkit-appearance: none; }

.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.select2-results__option[aria-selected] {
  cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-search--dropdown {
  display: block;
  padding: 4px; }
  .select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box; }
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  .select2-search--dropdown.select2-search--hide {
    display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 2;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #888 transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0; }

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  cursor: text; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
  .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left; }
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0cf;
    border: 1px solid #eee;
    color: #fff;
    font-size: .875rem;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
    vertical-align: middle; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    margin-right: 2px; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #333; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0; }

.select2-container--default.select2-container--focus .select2-selection--single {
  border: solid black 1px;
  outline: 0; }

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--default .select2-results__option[role=group] {
  padding: 0; }

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd; }

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em; }

.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white; }

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }

.select2-container input {
  outline: none; }

.select2-container .select2-search.select2-search--inline input {
  margin-top: 7px;
  padding: 0; }

.input-control .select2-container {
  margin: 0; }

.wire-block {
  padding: 10px 0; }
  .wire-block h5 {
    font-weight: bold;
    margin: 10px; }
  .wire-block .checkbox {
    margin: 0; }
  .wire-block .radio {
    margin: 0;
    display: block; }
  .wire-block .form-group {
    margin-bottom: 0; }
  .wire-block select {
    min-width: 7.6rem; }

.cell .button {
  min-width: 50px;
  float: none;
  height: 24px; }

.cell .button.default {
  width: auto; }

.input-control {
  width: 10.5rem;
  display: inline-block;
  position: relative;
  vertical-align: middle; }

.wi-right {
  margin-top: 54px; }
  .wi-right .wi {
    display: none; }
  .wi-right .wi.active {
    display: block; }

.wi-right-1 {
  color: #333;
  position: relative; }
  .wi-right-1 .wire-block:last-child {
    border-bottom: none; }
  .wi-right-1 .active {
    display: block; }

.select2-search--dropdown {
  display: none; }

.no-sel {
  height: 20px; }
  .no-sel .sel-text {
    padding-left: 0;
    padding-right: 0; }

.no-sel .select2-selection, .no-sel .ws-select {
  display: none; }

.wi .tabcontrol .tabs {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f2f5f8));
  background: -webkit-linear-gradient(top, #fff, #f2f5f8);
  background: linear-gradient(to bottom, #fff, #f2f5f8);
  border-bottom-color: #e2e2e2;
  height: 51px; }
  .wi .tabcontrol .tabs li {
    border-right: 2px solid #dedede; }
  .wi .tabcontrol .tabs li a {
    padding-top: 13px;
    margin: 0 5px;
    width: 120px;
    height: 50px;
    text-align: center;
    color: #aaa; }
  .wi .tabcontrol .tabs li:hover a, .wi .tabcontrol .tabs li.active a {
    background-color: initial;
    border-bottom: 4px solid #25bcf2;
    color: #222;
    text-shadow: none; }

.wi .tabcontrol .frames .frame {
  background: #fff;
  overflow-y: auto; }

.white-table {
  max-height: 200px;
  overflow-y: auto;
  border-top: 1px solid #ddd; }
  .white-table .table {
    margin: 0; }
  .white-table .table tbody tr {
    border-bottom: 1px solid #ddd;
    height: 34px; }
  .white-table .table tbody td {
    padding: 0  20px; }
    .white-table .table tbody td:last-child {
      text-align: right; }
    .white-table .table tbody td a {
      padding: 0 10px;
      color: #222; }

.select2.select2-container.select2-container--open {
  margin-left: 0px !important;
  margin-top: 0px !important; }

.select2-container.select2-container--open.select2-container--below {
  margin-left: auto; }

.select2-results__option {
  padding: 3px; }

.over-table .table {
  width: 100%;
  border-spacing: inherit;
  padding: 5px; }
  .over-table .table thead th, .over-table .table tbody td {
    text-align: left;
    padding: 5px;
    border: none; }
  .over-table .table tbody tr {
    border-bottom: 1px solid #ddd; }
    .over-table .table tbody tr:last-child {
      border-bottom: none; }
  .over-table .table .button {
    width: auto;
    min-width: 50px;
    float: none;
    height: 24px; }
  .over-table .table a {
    color: blue; }
  .over-table .table .apply_bt {
    width: 4.37rem;
    background: url(../image/buttons.gif) no-repeat top left;
    background-size: 250px 450px; }
  .over-table .table .cancel_bt {
    width: 4.37rem;
    background: url(../image/buttons.gif) no-repeat 0 -22px;
    background-size: 250px 450px; }

.vPortTable {
  border: 1px solid #ddd;
  margin: 5px;
  height: 160px;
  overflow: auto; }

.over-block {
  width: 1000px; }
  .over-block .adv_icon .input-control, .over-block .adv_icon input {
    width: 7.5rem; }
  .over-block .adv_icon .icon_status_info {
    overflow-y: hidden; }
  .over-block .adv_icon select {
    width: 7.6rem; }
  .over-block .button_div {
    position: inherit;
    margin-top: -10px; }
  .over-block .icon_table tr:nth-child(odd) {
    height: 20px; }

body {
  font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular, sans-serif;
  background: #fff;
  width: 100%; }
